<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Actualizar Flor</title>

</head>
<body>
    <center>
        <br>
        <h1>Editar Flor</h1>
        <br>
        <br>


        <form action="#" method="POST">

            <input type="text" name="txtFlor" value="{{tbFlores.1}}" >
            <input type="text" name="txtFlor" value="{{tbFlores.2}}" >
            <input type="text" name="txtFlor" value="{{tbFlores.3}}">
        
            <br>
            <br>
            <button type="submit">Confirmar</button>
    
        </form>
    </center>
    
</body>
</html>