
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Vista Flores</title>

</head>

<body>
    
    <br>
    <br>
    <center><h1>Gestion de Flores</h1></center>
    <br>
    <br>

    <form action="/guardar" method="POST">
        <center>
        <input type="text" name="txtNombre" placeholder="Nombre de la flor ">
        <input type="text" name="txtCantidad" placeholder="Cantidad de las flores">
        <input type="text" name="txtPrecio" placeholder="Precio de las flores">
    
        <br>
        <br>
        <button type="submit">Guardar</button>
        </center>

    </form action="/editar" method "POST">
        <center>
            <h1>Busqueda de Flor</h1>
            <br>
            <tr>Nombre: </tr>
            <input type="text" name="txtNombre" placeholder="Flor a buscar">
            <button type="submit">Editar</button>
        </center>
    
</body>
</html>



