
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CRUD Albums</title>

</head>

<body>
    
    <br>
    <br>
    <center><h1>Gestion de Albums</h1></center>
    <br>
    <br>

    <form action="/guardar" method="POST">
        <center>
        <input type="text" name="txtTitulo" placeholder="Nombre del album">
        <input type="text" name="txtArtista" placeholder="Nombre del artista">
        <input type="date" name="txtAnio" placeholder="Fecha del album">
    
        <br>
        <br>
        <button type="submit">Guardar</button>
        </center>

    </form>
    
</body>
</html>
